{erl_opts, [
    debug_info,
    warn_bif_clash,
    warn_deprecated_function,
    warn_export_all,
    warn_export_vars,
    warn_exported_vars,
    warn_format,
    warn_missing_spec,
    warn_obsolete_guard,
    warn_shadow_vars,
    warn_untyped_record,
    warn_unused_function,
    warn_unused_record,
    warn_unused_vars,
    {parse_transform, lager_transform}
]}.

{edoc_opts, [
    {doclet, edown_doclet},
    {top_level_readme, {"./README.md", "https://github.com/ahf/peculium_core"}},
    {app_default, "http://www.erlang.org/doc/man"},
    {todo, true},
    {report_missing_types, true},
    {source_path, ["src"]},
    {stylesheet, ""},
    {image, ""}
]}.

{eunit_opts, [
    verbose,
    {report, {eunit_surefire, [{dir, "."}]}}
]}.

{dialyzer_opts, [
    {warnings, [
        no_unused,
        no_improper_lists,
        no_fun_app,
        no_match,
        no_opaque,
        no_fail_call,
        error_handling,
        no_match,
        unmatched_returns,
        behaviours,
        underspecs
    ]}
]}.

{qc_opts, [{qc_mod, triq}]}.

{cover_enabled, true}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.

{xref_checks, [undefined_function_calls]}.

{deps, [
    %% Logging framework.
    {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},

    %% ECC library.
    {ucrypto, ".*", {git, "git://github.com/ahf/erlang-ucrypto.git", "master"}},

    %% Markdown API documentation.
    {edown, ".*", {git, "git://github.com/esl/edown.git", "master"}},

    %% Database for storing the Bitcoin Blockchain in.
    {eleveldb, ".*", {git, "git://github.com/basho/eleveldb.git", "master"}},

    %% Module aliases.
    {erl_aliases, ".*", {git, "git://github.com/alavrik/erl_aliases.git", "master"}},

    %% Process dictionary.
    {gproc, ".*", {git, "git://github.com/esl/gproc.git", "master"}},

    %% Socket handling.
    {ranch, ".*", {git, "git://github.com/extend/ranch.git", "master"}},

    %% UPnP handling.
    {upnp, ".*", {git, "git://github.com/benoitc/upnp.git", "master"}},

    %% Trifork QuickCheck.
    {triq, ".*", {git, "git://github.com/krestenkrab/triq.git", "master"}}
]}.

{require_otp_vsn, "R15|R16"}.
