{erl_opts, [
    warn_format,
    warn_export_all,
    warn_export_vars,
    warn_obsolete_guard,
    warn_unused_import,
    warn_bif_clash,
    warn_missing_spec,
    warn_untyped_record,
    warnings_as_errors,
    {parse_transform, lager_transform}
]}.

{edoc_opts, [
    {report_missing_types, true}
]}.

{deps, [
    %% Logging framework.
    {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},

    %% Database for storing the Bitcoin Blockchain in.
    {eleveldb, ".*", {git, "git://github.com/basho/eleveldb.git", "master"}},

    %% Module aliases.
    {erl_aliases, ".*", {git, "git://github.com/alavrik/erl_aliases.git", "master"}},

    %% Process dictionary.
    {gproc, ".*", {git, "git://github.com/esl/gproc.git", "master"}},

    %% Socket handling.
    {ranch, ".*", {git, "git://github.com/extend/ranch.git", "master"}},

    %% HTTP handling.
    {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
    {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "master"}},
    {mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", "master"}},

    %% UPNP handling.
    {upnp, ".*", {git, "git://github.com/benoitc/upnp.git", "master"}}
]}.

{require_otp_vsn, "R15"}.

{sub_dirs, ["rel"]}.
