{erl_opts, [
    warn_bif_clash,
    warn_deprecated_function,
    warn_export_all,
    warn_export_vars,
    warn_exported_vars,
    warn_format,
    warn_missing_spec,
    warn_obsolete_guard,
    warn_shadow_vars,
    warn_untyped_record,
    warn_unused_function,
    warn_unused_import,
    warn_unused_record,
    warn_unused_vars,
%%    warnings_as_errors,
    {parse_transform, lager_transform}
]}.

{edoc_opts, [
    {todo, true},
    {report_missing_types, true},
    {doclet, edown_doclet},
    {source_path, ["src"]},
    {file_suffix, ".markdown"},
    {stylesheet, ""},
    {image, ""},
    {app_default, "http://www.erlang.org/doc/man"}
]}.

{eunit_opts, [verbose]}.

{cover_enabled, true}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.

{xref_checks, [undefined_function_calls]}.

{deps, [
    %% Logging framework.
    {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},

    %% ECC library.
    {ucrypto, ".*", {git, "git://github.com/ahf/erlang-ucrypto.git", "master"}},

    %% Markdown API documentation.
    {edown, ".*", {git, "git://github.com/esl/edown.git", "master"}},

    %% Database for storing the Bitcoin Blockchain in.
    {hanoidb, ".*", {git, "git://github.com/ahf/hanoidb.git", "master"}},

    %% Module aliases.
    {erl_aliases, ".*", {git, "git://github.com/alavrik/erl_aliases.git", "master"}},

    %% Process dictionary.
    {gproc, ".*", {git, "git://github.com/esl/gproc.git", "master"}},

    %% Socket handling.
    {ranch, ".*", {git, "git://github.com/extend/ranch.git", "master"}},

    %% HTTP handling.
    {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
    {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "master"}},
    {mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", "master"}},

    %% UPnP handling.
    {upnp, ".*", {git, "git://github.com/benoitc/upnp.git", "master"}},

    %% Trifork QuickCheck.
    {triq, ".*", {git, "git://github.com/krestenkrab/triq.git", "master"}}
]}.

{require_otp_vsn, "R15|R16"}.

{sub_dirs, ["rel"]}.
